@font-face {
    font-family: 'PrestageRegular';
    src: 'https://tarangpadia.github.io/ImagesTesting/PrestageRegular.ttf';
}

@font-face {
    font-family: 'MercFont';
    src: 'https://tarangpadia.github.io/ImagesTesting/Mercedes-Benz-Corpo.ttf';
}

@font-face {
    font-family: 'LegoFont';
    src: 'https://tarangpadia.github.io/ImagesTesting/LegoFont.ttf';
}
